.text{
    position: absolute;
    width: 1068px;
    height: 110px;
    left: 152px;
    top: 136px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    text-align: center;

    color: #000000;
}

.form{
    position: absolute;
width: 883px;
height: 63px;
left: 244px;
top: 387px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;
}