.text{
    display: flex; 
    flex-direction: column;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    text-align: center;

    color: #000000;
}

.form{
    display: flex; 
    flex-direction: column;
    align-items: center;s

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;
}