<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromesthesia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
    <!--<link rel="stylesheet" href="/static/css/style3.css">-->


</head>
<body style="background-color:#FED982;">

<div class = "text">
	<p>Oops! We don't have your song at the moment or our app crashed :(</p>
</div>

<div class="form">
    <a href="https://forms.gle/fM4iFeoYFL8zrhX86">please click here to give your input</a>
</div>

</body>

</html>
