<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromesthesia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--<link rel="stylesheet" href="/static/css/style.css">-->

</head>
<body style="background-color:#FED982;">
		
    <img src="{{url_for('static', filename='chromesthesia.png')}}"/>
    <!--<img src="/static/chromesthesia.png"/>-->

    <div class="text">
        <p>enter your favorite song and we'll tell you what color it is!</p>
    </div>
    
    
    <div class="nav">


        <form action="/hi">
        <input type="text" placeholder="Song Name..." name="color">
        <button>Search</button>
        
        </form>

    </div>
    
    
    <div class = "about">
    
        <p>Chromesthesia is a particular type of synesthesia in which sound involuntarily evokes an experience of color, shape, and movement</p>
    
    </div>

</body>

</html>